#task-1 h1, h2 {
  color: purple;
}

#task-1 p {
  color: gray;
}

#task-2 ul {
  border: 2px solid orange;
}

#task-2 ol {
  border: 2px solid purple;
}

#task-2 ol, ul {
  padding: 5px 20px;
  border-radius: 4px;
}

#task-3 h1, strong {
  color: purple;
}

#task-3 em {
  color: gray;
}