hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr::after {
  content: '§';
  padding: 0 4px;
  position: relative;
  top: -13px;
}

main {
  width: 90%;
  margin: 0 5%;
  padding: 10px;
  background: #efefef;
}

#task-1 h1, h2 {
  color: purple;
}

#task-1 p {
  color: gray;
}

#task-2 ul {
  border: 2px solid orange;
}

#task-2 ol {
  border: 2px solid purple;
}

#task-2 ol, ul {
  padding: 5px 20px;
  border-radius: 4px;
}

#task-3 h1, strong {
  color: purple;
}

#task-3 em {
  color: gray;
}